<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.pds.mapper.PdsMapper">
	
<!--자료 총 갯수 -->
	<select id="count" resultType="java.lang.Integer">
	SELECT COUNT(IDX)            AS CNT
	FROM   BOARD  
	<where>
		<if test="menu_id != null and menu_id != ''">
	      AND MENU_ID = #{ menu_id }   
	    </if> 
	    <if test="searchType != null and searchType != '' 
	        and keyword != null and keyword != ''">
	      AND ${searchType}  Like '%' || #{ keyword } || '%'   
	    </if> 
	</where> 
	</select>

<!-- getPdsList -->
	<select id="getPdsList">
	SELECT   IDX,
	         MENU_id,
	         TITLE,
	         WRITER,
			 (
		        SELECT COUNT(FILE_NUM) FROM FILES F
		        WHERE B.IDX = F.IDX
		     )                                                    filescount,
	         TO_CHAR(REGDATE, 'YYYY-MM-DD')                       REGDATE,   
	         HIT
	FROM     BOARD B
	<where>
		<if test="menu_id != null and menu_id != ''">
	      AND MENU_ID = #{ menu_id }   
	    </if> 
	    <if test="searchType != null and searchType != '' 
	        and keyword != null and keyword != ''">
	      AND ${searchType}  Like '%' || #{ keyword } || '%'   
	    </if> 
	</where>   
	ORDER BY IDX DESC
	OFFSET   #{offset} ROWS FETCH NEXT #{numOfRows} ROWS ONLY 
	</select>
	
<!-- getPds view : 조회-->
	<select id="getPds">
	SELECT  IDX,
	        MENU_id,
	        TITLE,
	        WRITER,
	        CONTENT,
	        TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS')                       REGDATE,   
	        HIT
	  FROM  BOARD
	  WHERE IDX = #{idx}
	</select>	
	
<!-- getFileList : idx에 해당하는 파일 목록 -->
	<select id="getFileList">
    SELECT FILE_NUM,
		   IDX,
           FILENAME,
           FILEEXT,
           SFILENAME
    FROM   FILES
    WHERE  IDX = #{idx}
	</select>
	
<!-- getFileInfo : file_num으로 파일정보 조회 -->
	<select id="getFileInfo">
    SELECT FILE_NUM,
		   IDX,
           FILENAME,
           FILEEXT,
           SFILENAME
    FROM   FILES
    WHERE  FILE_NUM = #{file_num}	
	</select>
	
<!-- 조회수 증가-->
	<update id="setReadCountUpdate">
	UPDATE BOARD
	SET    HIT = HIT + 1
	WHERE  IDX = #{idx} 
	</update>
	
<!-- setWrite : Board에 저장 -->
	<insert id="setWrite">
	INSERT INTO BOARD ( IDX, MENU_ID, TITLE, CONTENT, WRITER)
	VALUES ((SELECT NVL(MAX(IDX), 0)+1 FROM BOARD), #{menu_id}, #{title}, #{content}, #{writer}) 
	</insert>
	
<!-- setFileWriter : files 에 insert
	 insert all    : 한줄에 여러줄 insert 할 수있는 명령 
	 (SELECT NVL(MAX(FILE_NUM), 0)+1 FROM FILES) -> 한번만 실행 : 무결성 제약 조건 에러 -->
	<insert id="setFileWriter">
	<foreach collection="fileList"
	         item      ="file"
	         index     ="i"
	         open      ="INSERT ALL"
	         close     ="SELECT * FROM DUAL"
	         separator =" ">
		INTO files VALUES ((SELECT NVL(MAX(FILE_NUM), 0) FROM FILES) +#{i} +1, (SELECT MAX(IDX) FROM BOARD), #{file.filename}, #{file.fileext}, #{file.sfilename})
	</foreach>
	</insert>
	

	
	
</mapper>
